<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
	<title>欢迎向我提问！- {{disp}}的提问箱</title>
</head>
<body style="background-color: #001a37;color:#e8e8e8">
	
	<div style="max-width:700px;" class="container">
			<div style="background-color:rgba(230,230,250,0.5);margin-bottom:80px">

				<div align='center' style='background-color:rgba(180,180,250,0.5);padding:10px;color:#ffffff;'>
				    <div style="margin:20px">
					    <span style='color:#555555;margin:0 10px;'> 闭社匿名提问箱</span>
					    <a type="button" class="btn btn-primary btn-sm" href="/askMe">我也要创建</a>
					</div>
					<h1 align='center'><a href={{url}}>{{disp}}</a>的提问箱</h1>
					<div style="text-align:left; margin-bottom:10px;height:30px" id="acct-info">
					    <a href="{{url}}"><img src="{{avat}}" width="96"><span></span></a>
					    <span>{{acct}}</span>
					</div>
				</div>
			</div>
			
			<form>
  <div class="form-group" style="background:#e8e8e8;padding:5px;color:black">
    <label>向 {{disp}} 匿名提问</label>
    <textarea class="form-control" id="question" rows="5" maxlength="500" placeholder="在此处写下你想问的"></textarea>
    <button type="submit" class="btn btn-primary">发送提问</button>
  </div>
</form>

	</div>
</body>
</html>
